:root{
  --text: 248, 248, 248;
  --bg: 0, 9,3;
  --secondary: 0, 0, 0;
  --primary: 255, 76, 49;
  --input: 55,65,81;
  --blog: 17, 24, 39;
  --card: 31, 41, 55;
}

.light {
  --text: 1, 1, 3;
  --bg: 255, 255, 255;
  --secondary: 133, 216, 72; 
  --primary: 255, 76, 49;
  --input: 204, 215, 226;
  --blog: 224, 234, 255;
  --card: 242, 242, 246; 
}

.dark {
  --text: 248, 248, 248;
  --bg: 0, 9,3;
  --secondary: 0, 0, 0;
  --primary: 255, 76, 49;
  --input: 55,65,81;
  --blog: 17, 24, 39;
  --card: 31, 41, 55;
}

